In [1]:
import pandas as pd

In [6]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [7]:
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

In [9]:
nba = pd.read_csv('nba.csv')
nba.head(2)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

##### Select a column from a DF

In [11]:
nba['Height'].head()

0     6-2
1     6-6
2     6-5
3     6-5
4    6-10
Name: Height, dtype: object

##### Select 2 or more columns

In [13]:
nba[['Height', 'Weight']].head(5)

  Height  Weight
0    6-2   180.0
1    6-6   235.0
2    6-5   205.0
3    6-5   185.0
4   6-10   231.0

##### Add New Column to DataFrame
- create new column name in brackets df['name'] =

In [14]:
nba['Home_Town'] = "Los Angeles"

In [15]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Home_Town
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Los Angeles
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Los Angeles
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Los Angeles
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Los Angeles
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Los Angeles

##### Insert Method: add a column to a specified index position

In [16]:
nba.insert(3, 'Years_Pro', value = 3)

In [17]:
nba

,Name,Team,Number,Years_Pro,Position,Age,Height,Weight,College,Salary,Home_Town
0,Avery Bradley,Boston Celtics,0.0,3,PG,25.0,6-2,180.0,Texas,7730337.0,Los Angeles
1,Jae Crowder,Boston Celtics,99.0,3,SF,25.0,6-6,235.0,Marquette,6796117.0,Los Angeles
2,John Holland,Boston Celtics,30.0,3,SG,27.0,6-5,205.0,Boston University,NaN,Los Angeles
3,R.J. Hunter,Boston Celtics,28.0,3,SG,22.0,6-5,185.0,Georgia State,1148640.0,Los Angeles
4,Jonas Jerebko,Boston Celtics,8.0,3,PF,29.0,6-10,231.0,NaN,5000000.0,Los Angeles
5,Amir Johnson,Boston Celtics,90.0,3,PF,29.0,6-9,240.0,NaN,12000000.0,Los Angeles
6,Jordan Mickey,Boston Celtics,55.0,3,PF,21.0,6-8,235.0,LSU,1170960.0,Los Angeles
7,Kelly Olynyk,Boston Celtics,41.0,3,C,25.0,7-0,238.0,Gonzaga,2165160.0,Los Angeles
8,Terry Rozier,Boston Celtics,12.0,3,PG,22.0,6-2,190.0,Louisville,1824360.0,Los Angeles
9,Marcus Smart,Boston Celtics,36.0,3,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,Los Angeles
10,Jared Sullinger,Boston Celtics,7.0,3,C,24.0,6-9,260.0,Ohio State,2569260.0,Los Angeles
11,Isaiah Thomas,Boston Celtics,4.0,3,PG,27.0,5-9,185.0,Washington,6912869.0,Los Angeles
12,Evan Turner,Boston Celtics,11.0,3,SG,27.0,6-7,220.0,Ohio State,3425510.0,Los Angeles
13,James Young,Boston Celtics,13.0,3,SG,20.0,6-6,215.0,Kentucky,1749840.0,Los Angeles
14,Tyler Zeller,Boston Celtics,44.0,3,C,26.0,7-0,253.0,North Carolina,2616975.0,Los Angeles
15,Bojan Bogdanovic,Brooklyn Nets,44.0,3,SG,27.0,6-8,216.0,NaN,3425510.0,Los Angeles
16,Markel Brown,Brooklyn Nets,22.0,3,SG,24.0,6-3,190.0,Oklahoma State,845059.0,Los Angeles
17,Wayne Ellington,Brooklyn Nets,21.0,3,SG,28.0,6-4,200.0,North Carolina,1500000.0,Los Angeles
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,3,SG,21.0,6-7,220.0,Arizona,1335480.0,Los Angeles
19,Jarrett Jack,Brooklyn Nets,2.0,3,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,Los Angeles
20,Sergey Karasev,Brooklyn Nets,10.0,3,SG,22.0,6-7,208.0,NaN,1599840.0,Los Angeles
21,Sean Kilpatrick,Brooklyn Nets,6.0,3,SG,26.0,6-4,219.0,Cincinnati,134215.0,Los Angeles
22,Shane Larkin,Brooklyn Nets,0.0,3,PG,23.0,5-11,175.0,Miami (FL),1500000.0,Los Angeles
23,Brook Lopez,Brooklyn Nets,11.0,3,C,28.0,7-0,275.0,Stanford,19689000.0,Los Angeles
24,Chris McCullough,Brooklyn Nets,1.0,3,PF,21.0,6-11,200.0,Syracuse,1140240.0,Los Angeles
25,Willie Reed,Brooklyn Nets,33.0,3,PF,26.0,6-10,220.0,Saint Louis,947276.0,Los Angeles
26,Thomas Robinson,Brooklyn Nets,41.0,3,PF,25.0,6-10,237.0,Kansas,981348.0,Los Angeles
27,Henry Sims,Brooklyn Nets,14.0,3,C,26.0,6-10,248.0,Georgetown,947276.0,Los Angeles
28,Donald Sloan,Brooklyn Nets,15.0,3,PG,28.0,6-3,205.0,Texas A&M,947276.0,Los Angeles
29,Thaddeus Young,Brooklyn Nets,30.0,3,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,3,SF,25.0,6-9,215.0,Wake Forest,8042895.0,Los Angeles
429,Pat Connaughton,Portland Trail Blazers,5.0,3,SG,23.0,6-5,206.0,Notre Dame,625093.0,Los Angeles
430,Allen Crabbe,Portland Trail Blazers,23.0,3,SG,24.0,6-6,210.0,California,947276.0,Los Angeles
431,Ed Davis,Portland Trail Blazers,17.0,3,C,27.0,6-10,240.0,North Carolina,6980802.0,Los Angeles
432,Maurice Harkless,Portland Trail Blazers,4.0,3,SF,23.0,6-9,215.0,St. John's,2894059.0,Los Angeles
433,Gerald Henderson,Portland Trail Blazers,9.0,3,SG,28.0,6-5,215.0,Duke,6000000.0,Los Angeles
434,Chris Kaman,Portland Trail Blazers,35.0,3,C,34.0,7-0,265.0,Central Michigan,5016000.0,Los Angeles
435,Meyers Leonard,Portland Trail Blazers,11.0,3,PF,24.0,7-1,245.0,Illinois,3075880.0,Los Angeles
436,Damian Lillard,Portland Trail Blazers,0.0,3,PG,25.0,6-3,195.0,Weber State,4236287.0,Los Angeles
437,C.J. McCollum,Portland Trail Blazers,3.0,3,SG,24.0,6-4,200.0,Lehigh,2525160.0,Los Angeles
438,Luis Montero,Portland Trail Blazers,44.0,3,SG,23.0,6-7,185.0,Westchester CC,525093.0,Los Angeles
439,Mason Plumlee,Portland Trail Blazers,24.0,3,C,26.0,6-11,235.0,Duke,1415520.0,Los Angeles
440,Brian Roberts,Portland Trail Blazers,2.0,3,PG,30.0,6-1,173.0,Dayton,2854940.0,Los Angeles
441,Noah Vonleh,Portland Trail Blazers,21.0,3,PF,20.0,6-9,240.0,Indiana,2637720.0,Los Angeles
442,Trevor Booker,Utah Jazz,33.0,3,PF,28.0,6-8,228.0,Clemson,4775000.0,Los Angeles
443,Trey Burke,Utah Jazz,3.0,3,PG,23.0,6-1,191.0,Michigan,2658240.0,Los Angeles
444,Alec Burks,Utah Jazz,10.0,3,SG,24.0,6-6,214.0,Colorado,9463484.0,Los Angeles
445,Dante Exum,Utah Jazz,11.0,3,PG,20.0,6-6,190.0,NaN,3777720.0,Los Angeles
446,Derrick Favors,Utah Jazz,15.0,3,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,Los Angeles
447,Rudy Gobert,Utah Jazz,27.0,3,C,23.0,7-1,245.0,NaN,1175880.0,Los Angeles
448,Gordon Hayward,Utah Jazz,20.0,3,SF,26.0,6-8,226.0,Butler,15409570.0,Los Angeles
449,Rodney Hood,Utah Jazz,5.0,3,SG,23.0,6-8,206.0,Duke,1348440.0,Los Angeles
450,Joe Ingles,Utah Jazz,2.0,3,SF,28.0,6-8,226.0,NaN,2050000.0,Los Angeles
451,Chris Johnson,Utah Jazz,23.0,3,SF,26.0,6-6,206.0,Dayton,981348.0,Los Angeles
452,Trey Lyles,Utah Jazz,41.0,3,PF,20.0,6-10,234.0,Kentucky,2239800.0,Los Angeles
453,Shelvin Mack,Utah Jazz,8.0,3,PG,26.0,6-3,203.0,Butler,2433333.0,Los Angeles
454,Raul Neto,Utah Jazz,25.0,3,PG,24.0,6-1,179.0,NaN,900000.0,Los Angeles
455,Tibor Pleiss,Utah Jazz,21.0,3,C,26.0,7-3,256.0,NaN,2900000.0,Los Angeles
456,Jeff Withey,Utah Jazz,24.0,3,C,26.0,7-0,231.0,Kansas,947276.0,Los Angeles
457,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles

##### Rename Index Labels or Columns in a DataFrame

In [37]:
df = pd.read_csv('jamesbond.csv')
df.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [38]:
df.rename(columns = {"Year": "Release_Date", "Box Office": "Revenue"}, inplace =True)

In [39]:
df.head(3)

,Film,Release_Date,Actor,Director,Revenue,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

##### Rename index

In [40]:
james = pd.read_csv('jamesbond.csv', index_col='Film')
james.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [41]:
james.rename(index={"Dr. No" : "Doctor No"}, inplace=True)

In [42]:
james.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Doctor No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

##### Rename Column names but most rewrite/include the name of all columns

In [43]:
james.columns = ['Release Date', 'Actor', 'Director', 'Box Office', 'Budget', 'Bond Actor Salary']

In [44]:
james.head()

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Doctor No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

##### Rearrange the sequence of column names

In [46]:
james = james[['Actor','Bond Actor Salary' ,'Director', 'Box Office', 'Budget', 'Release Date']]
james.head()

,Actor,Bond Actor Salary,Director,Box Office,Budget,Release Date
Film,,,,,,
Doctor No,Sean Connery,0.6,Terence Young,448.8,7.0,1962
From Russia with Love,Sean Connery,1.6,Terence Young,543.8,12.6,1963
Goldfinger,Sean Connery,3.2,Guy Hamilton,820.4,18.6,1964
Thunderball,Sean Connery,4.7,Terence Young,848.1,41.9,1965
Casino Royale,David Niven,NaN,Ken Hughes,315.0,85.0,1967

##### Delete a row or column from a dataframe
##### default = 0 or rows
##### MUST SORT THE INDEX IN ORDER TO DROP

In [71]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [72]:
bond.sort_index()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [73]:
bond.drop(["Dr. No", "Casino Royale", "Live and Let Die"])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

##### Drop Columns
##### Must change axis=0 to axis=1 or axis='columns'

In [74]:
bond.drop('Director', axis='columns')

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Sean Connery,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Thunderball,1965,Sean Connery,848.1,41.9,4.7
Casino Royale,1967,David Niven,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,533.0,45.1,NaN
Moonraker,1979,Roger Moore,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,380.0,86.0,NaN
Octopussy,1983,Roger Moore,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,943.5,170.2,14.5
Spectre,2015,Daniel Craig,726.7,206.3,NaN