##### set_index()
##### sort_index()
##### set_names()
##### loc[]
##### transpose()
##### stack()
##### pivot_table()
##### groupby()
##### get_group()
##### agg()
##### agg customized

In [4]:
import pandas as pd

In [3]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [3]:
%ls

Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv
employees.csv

##### Multiindex

In [6]:
bm = pd.read_csv('bigmac.csv', parse_dates=['Date'])
bm.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [7]:
bm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

##### set_index passing 2 arguments
##### keys=

In [10]:
bm = bm.set_index(keys=['Date', 'Country'])
bm.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

##### Sort index

In [12]:
bm.sort_index(inplace=True)

In [13]:
bm

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
...                                        ...
2016-01-01 Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           Netherlands                    3.71
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Portugal                       3.23
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
           South Africa                   1.77
           South Korea                    3.59
           Spain                          3.76
           Sri Lanka                      2.43
           Sweden                         5.23
           Switzerland                    6.44
           Taiwan                         2.08
           Thailand                       3.09
           Turkey                         3.41
           UAE                            3.54
           Ukraine                        1.54
           United States                  4.93
           Uruguay                        3.74
           Venezuela                      0.66
           Vietnam                        2.67

[652 rows x 1 columns]

In [11]:
bm = pd.read_csv('bigmac.csv', parse_dates=True, index_col=["Date", "Country"])
bm.sort_index(inplace=True)
bm.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

##### Rename Index with set_names()
- must use inplace=True for DataFrame

In [16]:
bm.index.set_names(['year', 'location'], inplace=True)
bm.head(10)

                           Price in US Dollars
year       location
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71

##### Sort multi index one way on index A and a other way index B

In [18]:
bm.sort_index(ascending=[True, False], inplace=True)
bm.head(10)

                          Price in US Dollars
year       location
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83
           Thailand                      2.11
           Taiwan                        2.36
           Switzerland                   6.30
           Sweden                        5.51
           Sri Lanka                     1.83

##### Extract rows with MultiIndex

In [26]:
bm.sort_index(ascending=True, inplace=True)
bm.head()

                      Price in US Dollars
year       location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

##### Select rows with multiIndex by one index only

In [27]:
bm.loc[('2010-01-01')]

                           Price in US Dollars
year       location
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

In [33]:
bm.loc[("2012-01-01", "Brazil")]

Price in US Dollars    5.68
Name: (2012-01-01 00:00:00, Brazil), dtype: float64

##### MultiIndex Transpose: Columns

In [34]:
bm.transpose()

year                2010-01-01                                              \
location             Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

year                                                     ...    2016-01-01  \
location            Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

year                                                                    \
location            Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

year
location            Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

##### Stack method
- use this for reorganizing columns and row indexes 
- EXCEL

In [37]:
w = pd.read_csv('worldstats.csv', index_col=['country', 'year'])
w.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [39]:

w_stack =w.stack()
w_stack

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                  GDP           2.846994e+12
            2012  Population    3.688026e+08
                  GDP           2.773270e+12
            2011  Population    3.610318e+08
                  GDP           2.497945e+12
            2010  Population    3.531122e+08
                  GDP           2.103825e+12
            2009  Population    3.450542e+08
                  GDP           1.798878e+12
            2008  Population    3.368865e+08
                  GDP           2.081343e+12
            2007  Population    3.287666e+08
                  GDP           1.641666e+12
            2006  Population    3.209067e+08
                  GDP           1.404190e+12
            2005  Population    3.134309e+08
                  GDP           1.184735e+12
            2004  Population    3.063874e+08
                  GDP           9.639180e+11
            2003  Population    2.997320e+08
                  GDP           8.218702e+11
            2002  Population    2.934026e+08
                  GDP           7.279939e+11
            2001  Population    2.872918e+08
                  GDP           7.221506e+11
                                    ...
Zimbabwe    1974  Population    5.967861e+06
                  GDP           3.982161e+09
            1973  Population    5.768382e+06
                  GDP           3.309354e+09
            1972  Population    5.573312e+06
                  GDP           2.677729e+09
            1971  Population    5.385342e+06
                  GDP           2.178716e+09
            1970  Population    5.206311e+06
                  GDP           1.884206e+09
            1969  Population    5.036321e+06
                  GDP           1.747999e+09
            1968  Population    4.874113e+06
                  GDP           1.479600e+09
            1967  Population    4.718612e+06
                  GDP           1.397002e+09
            1966  Population    4.568320e+06
                  GDP           1.281750e+09
            1965  Population    4.422132e+06
                  GDP           1.311436e+09
            1964  Population    4.279561e+06
                  GDP           1.217138e+09
            1963  Population    4.140804e+06
                  GDP           1.159512e+09
            1962  Population    4.006262e+06
                  GDP           1.117602e+09
            1961  Population    3.876638e+06
                  GDP           1.096647e+09
            1960  Population    3.752390e+06
                  GDP           1.052990e+09
dtype: float64

In [42]:
w_stack.unstack()

                  Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
            1965   9935358.0  1.006667e+09
            1966  10148841.0  1.400000e+09
            1967  10368600.0  1.673333e+09
            1968  10599790.0  1.373333e+09
            1969  10849510.0  1.408889e+09
            1970  11121097.0  1.748887e+09
            1971  11412821.0  1.831109e+09
            1972  11716896.0  1.595555e+09
            1973  12022514.0  1.733333e+09
            1974  12315553.0  2.155555e+09
            1975  12582954.0  2.366667e+09
            1976  12831361.0  2.555556e+09
            1977  13056499.0  2.953333e+09
            1978  13222547.0  3.300000e+09
            1979  13283279.0  3.697940e+09
            1980  13211412.0  3.641723e+09
            1981  12996923.0  3.478788e+09
            2001  20531160.0  2.461666e+09
            2002  21487079.0  4.128818e+09
            2003  22507368.0  4.583649e+09
            2004  23499850.0  5.285462e+09
            2005  24399948.0  6.275076e+09
            2006  25183615.0  7.057598e+09
            2007  25877544.0  9.843842e+09
            2008  26528741.0  1.019053e+10
...                      ...           ...
Zimbabwe    1986   9198874.0  6.217524e+09
            1987   9535657.0  6.741215e+09
            1988   9866776.0  7.814784e+09
            1989  10184966.0  8.286323e+09
            1990  10484771.0  8.783817e+09
            1991  10763036.0  8.641482e+09
            1992  11019717.0  6.751472e+09
            1993  11256512.0  6.563813e+09
            1994  11476807.0  6.890675e+09
            1995  11683136.0  7.111271e+09
            1996  11877664.0  8.553147e+09
            1997  12059858.0  8.529572e+09
            1998  12226742.0  6.401968e+09
            1999  12374019.0  6.858013e+09
            2000  12499981.0  6.689958e+09
            2001  12603988.0  6.777385e+09
            2002  12691431.0  6.342116e+09
            2003  12774162.0  5.727592e+09
            2004  12867828.0  5.805598e+09
            2005  12984418.0  5.755215e+09
            2006  13127942.0  5.443896e+09
            2007  13297798.0  5.291950e+09
            2008  13495462.0  4.415703e+09
            2009  13720997.0  8.157077e+09
            2010  13973897.0  9.422161e+09
            2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [43]:
w_stack.unstack().unstack()

                          Population                              \
year                            1960          1961          1962
country
Afghanistan             8.994793e+06  9.164945e+06  9.343772e+06
Albania                          NaN           NaN           NaN
Algeria                 1.112489e+07  1.140486e+07  1.169015e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina                        NaN           NaN  2.128768e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.027648e+07  1.048300e+07  1.074200e+07
Austria                 7.047539e+06  7.086299e+06  7.129864e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.095260e+05  1.151080e+05  1.210830e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              4.820070e+07  4.959361e+07  5.103060e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.153489e+06  9.183948e+06  9.220578e+06
Belize                  9.206800e+04  9.470100e+04  9.738900e+04
Benin                   2.431620e+06  2.466002e+06  2.503232e+06
Bermuda                 4.440000e+04  4.550000e+04  4.660000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.693451e+06  3.764815e+06  3.838096e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.240290e+05  5.365760e+05  5.499900e+05
Brazil                  7.249358e+07  7.470689e+07  7.700755e+07
Brunei Darussalam                NaN           NaN           NaN
Bulgaria                         NaN           NaN           NaN
Burkina Faso            4.829291e+06  4.894578e+06  4.960325e+06
...                              ...           ...           ...
Switzerland             5.327827e+06  5.434294e+06  5.573815e+06
Syrian Arab Republic    4.592777e+06  4.742596e+06  4.897428e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.739718e+07  2.822421e+07  2.908104e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.580513e+06  1.597528e+06  1.612758e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.484810e+05  8.653560e+05  8.800190e+05
Tunisia                          NaN           NaN           NaN
Turkey                  2.755328e+07  2.822929e+07  2.890998e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  6.788211e+06  7.006629e+06  7.240155e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.240000e+07  5.280000e+07  5.325000e+07
United States           1.806710e+08  1.836910e+08  1.865380e+08
Upper middle income     1.154592e+09  1.159145e+09  1.176093e+09
Uruguay                 2.538651e+06  2.571691e+06  2.603887e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           8.146845e+06  8.461684e+06  8.790590e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.200000e+04  3.410000e+04  3.630000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.035056e+09  3.076121e+09  3.129064e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.049586e+06  3.142848e+06  3.240664e+06
Zimbabwe                3.752390e+06  3.876638e+06  4.006262e+06

                                                                  \
year                            1963          1964          1965
country
Afghanistan             9.531555e+06  9.728645e+06  9.935358e+06
Albania                          NaN           NaN           NaN
Algeria                 1.198513e+07  1.229597e+07  1.262695e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina               2.162184e+07  2.195393e+07  2.228339e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.095000e+07  1.116700e+07  1.138800e+07
Austria                 7.175811e+06  7.223801e+06  7.270889e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.273310e+05  1.336970e+05  1.400490e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.253260e+07  5.412939e+07  5.583502e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.289770e+06  9.378113e+06  9.463667e+06
Belize                  1.001660e+05  1.030700e+05  1.061210e+05
Benin                   2.543335e+06  2.586362e+06  2.632360e+06
Bermuda                 4.770000e+04  4.890000e+04  5.010000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.913397e+06  3.990855e+06  4.070590e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.643160e+05  5.795600e+05  5.957410e+05
Brazil                  7.936845e+07  8.175180e+07  8.413006e+07
Brunei Darussalam                NaN           NaN  1.025250e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.027818e+06  5.098892e+06  5.174869e+06
...                              ...           ...           ...
Switzerland             5.694247e+06  5.789228e+06  5.856472e+06
Syrian Arab Republic    5.057825e+06  5.224579e+06  5.398333e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.996704e+07  3.088133e+07  3.182280e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.631763e+06  1.662072e+06  1.708632e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.925710e+05  9.032720e+05  9.124190e+05
Tunisia                          NaN           NaN  4.630000e+06
Turkey                  2.959705e+07  3.029297e+07  3.100017e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  7.487411e+06  7.746181e+06  8.014376e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.365000e+07  5.400000e+07  5.434805e+07
United States           1.892420e+08  1.918890e+08  1.943030e+08
Upper middle income     1.204372e+09  1.232266e+09  1.261069e+09
Uruguay                 2.635128e+06  2.665387e+06  2.694535e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           9.130346e+06  9.476255e+06  9.824694e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.870000e+04  4.130000e+04  4.400000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.193947e+09  3.259355e+09  3.326054e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.342894e+06  3.449266e+06  3.559687e+06
Zimbabwe                4.140804e+06  4.279561e+06  4.422132e+06

                                                                  \
year                            1966          1967          1968
country
Afghanistan             1.014884e+07  1.036860e+07  1.059979e+07
Albania                          NaN           NaN           NaN
Algeria                 1.298027e+07  1.335420e+07  1.374438e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN  1.155571e+08
Argentina               2.260875e+07  2.293220e+07  2.326127e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.165100e+07  1.179900e+07  1.200900e+07
Austria                 7.322066e+06  7.376998e+06  7.415403e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.463640e+05  1.526070e+05  1.586290e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.767553e+07  5.962529e+07  6.158552e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.527807e+06  9.580991e+06  9.618756e+06
Belize                  1.093440e+05  1.126990e+05  1.160610e+05
Benin                   2.681382e+06  2.733450e+06  2.788551e+06
Bermuda                 5.100000e+04  5.200000e+04  5.300000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 4.152665e+06  4.237126e+06  4.324066e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                6.129500e+05  6.312760e+05  6.507300e+05
Brazil                  8.649499e+07  8.885368e+07  9.121301e+07
Brunei Darussalam       1.074500e+05  1.126800e+05  1.181760e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.256363e+06  5.343020e+06  5.434040e+06
...                              ...           ...           ...
Switzerland             5.918002e+06  5.991785e+06  6.067714e+06
Syrian Arab Republic    5.579283e+06  5.767478e+06  5.963248e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                3.278910e+07  3.377850e+07  3.479094e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.774029e+06  1.855445e+06  1.945781e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     9.199020e+05  9.259180e+05  9.314660e+05
Tunisia                 4.731395e+06  4.832923e+06  4.933131e+06
Turkey                  3.171827e+07  3.244840e+07  3.319629e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  8.292747e+06  8.580632e+06  8.872866e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.464850e+07  5.494360e+07  5.521170e+07
United States           1.965600e+08  1.987120e+08  2.007060e+08
Upper middle income     1.292755e+09  1.323615e+09  1.355381e+09
Uruguay                 2.722874e+06  2.750093e+06  2.774771e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           1.017514e+07  1.052805e+07  1.088200e+07
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   4.730000e+04  5.080000e+04  5.460000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.395866e+09  3.465297e+09  3.535512e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.674088e+06  3.792864e+06  3.916928e+06
Zimbabwe                4.568320e+06  4.718612e+06  4.874113e+06

                                          ...                GDP  \
year                            1969      ...               2006
country                                   ...
Afghanistan             1.084951e+07      ...       7.057598e+09
Albania                          NaN      ...       8.992642e+09
Algeria                 1.414444e+07      ...       1.170273e+11
Andorra                          NaN      ...       3.536452e+09
Angola                           NaN      ...       4.178948e+10
Antigua and Barbuda              NaN      ...       1.135144e+09
Arab World              1.188239e+08      ...       1.404190e+12
Argentina               2.360599e+07      ...       2.626665e+11
Armenia                          NaN      ...       6.384452e+09
Aruba                            NaN      ...       2.421475e+09
Australia               1.226300e+07      ...       7.468808e+11
Austria                 7.441055e+06      ...       3.343094e+11
Azerbaijan                       NaN      ...       2.098302e+10
Bahamas, The            1.642500e+05      ...       7.965588e+09
Bahrain                          NaN      ...       1.850505e+10
Bangladesh              6.342257e+07      ...       7.181908e+10
Barbados                         NaN      ...       4.303500e+09
Belarus                          NaN      ...       3.696182e+10
Belgium                 9.646032e+06      ...       4.098131e+11
Belize                  1.192600e+05      ...       1.217442e+09
Benin                   2.846652e+06      ...       5.142381e+09
Bermuda                 5.400000e+04      ...       5.414299e+09
Bhutan                           NaN      ...       8.977315e+08
Bolivia                 4.413584e+06      ...       1.145187e+10
Bosnia and Herzegovina           NaN      ...       1.286652e+10
Botswana                6.713050e+05      ...       1.012694e+10
Brazil                  9.358575e+07      ...       1.107640e+12
Brunei Darussalam       1.238750e+05      ...       1.147070e+10
Bulgaria                         NaN      ...       3.430445e+10
Burkina Faso            5.528172e+06      ...       5.844670e+09
...                              ...      ...                ...
Switzerland             6.136387e+06      ...       4.291956e+11
Syrian Arab Republic    6.166933e+06      ...       3.333284e+10
Tajikistan                       NaN      ...       2.830229e+09
Tanzania                         NaN      ...       1.861046e+10
Thailand                3.582680e+07      ...       2.217585e+11
Timor-Leste                      NaN      ...       4.630000e+08
Togo                    2.034909e+06      ...       2.202809e+09
Tonga                            NaN      ...       2.879830e+08
Trinidad and Tobago     9.378460e+05      ...       1.836907e+10
Tunisia                 5.031211e+06      ...       3.437844e+10
Turkey                  3.396920e+07      ...       5.309001e+11
Turkmenistan                     NaN      ...       1.027760e+10
Tuvalu                           NaN      ...       2.290286e+07
Uganda                  9.162773e+06      ...       9.942598e+09
Ukraine                          NaN      ...       1.077531e+11
United Arab Emirates             NaN      ...       2.221059e+11
United Kingdom          5.544175e+07      ...       2.588077e+12
United States           2.026770e+08      ...       1.385589e+13
Upper middle income     1.388827e+09      ...       8.620784e+12
Uruguay                 2.795044e+06      ...       1.957946e+10
Uzbekistan                       NaN      ...       1.703090e+10
Vanuatu                          NaN      ...       4.393768e+08
Venezuela, RB           1.123549e+07      ...       1.834775e+11
Vietnam                          NaN      ...       6.637166e+10
Virgin Islands (U.S.)   5.860000e+04      ...                NaN
West Bank and Gaza               NaN      ...       4.910100e+09
World                   3.609910e+09      ...       5.107451e+13
Yemen, Rep.                      NaN      ...       1.908173e+10
Zambia                  4.047479e+06      ...       1.275686e+10
Zimbabwe                5.036321e+06      ...       5.443896e+09

                                                                  \
year                            2007          2008          2009
country
Afghanistan             9.843842e+09  1.019053e+10  1.248694e+10
Albania                 1.070101e+10  1.288135e+10  1.204421e+10
Algeria                 1.349771e+11  1.710007e+11  1.372110e+11
Andorra                 4.010785e+09  4.001349e+09  3.649863e+09
Angola                  6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda     1.289254e+09  1.347350e+09  1.206410e+09
Arab World              1.641666e+12  2.081343e+12  1.798878e+12
Argentina               3.293175e+11  4.037820e+11  3.766279e+11
Armenia                 9.206302e+09  1.166204e+10  8.647937e+09
Aruba                   2.623726e+09  2.791961e+09  2.498933e+09
Australia               8.530533e+11  1.054558e+12  9.265638e+11
Austria                 3.864590e+11  4.276115e+11  3.975943e+11
Azerbaijan              3.305034e+10  4.885248e+10  4.429149e+10
Bahamas, The            8.318996e+09  8.246650e+09  7.820420e+09
Bahrain                 2.173000e+10  2.571088e+10  2.293822e+10
Bangladesh              7.961189e+10  9.163128e+10  1.024778e+11
Barbados                4.546000e+09  4.595000e+09  4.602000e+09
Belarus                 4.527575e+10  6.075218e+10  4.920866e+10
Belgium                 4.718218e+11  5.186260e+11  4.845527e+11
Belize                  1.290543e+09  1.368625e+09  1.336957e+09
Benin                   5.969535e+09  7.132787e+09  7.097199e+09
Bermuda                 5.895048e+09  6.109928e+09  5.806378e+09
Bhutan                  1.196092e+09  1.258332e+09  1.264758e+09
Bolivia                 1.312018e+10  1.667432e+10  1.733999e+10
Bosnia and Herzegovina  1.577642e+10  1.910145e+10  1.760063e+10
Botswana                1.093905e+10  1.094507e+10  1.026713e+10
Brazil                  1.397084e+12  1.695825e+12  1.667020e+12
Brunei Darussalam       1.224769e+10  1.439310e+10  1.073237e+10
Bulgaria                4.476573e+10  5.466664e+10  5.178345e+10
Burkina Faso            6.771278e+09  8.369637e+09  8.369175e+09
...                              ...           ...           ...
Switzerland             4.774078e+11  5.515470e+11  5.395282e+11
Syrian Arab Republic    4.040501e+10           NaN           NaN
Tajikistan              3.719515e+09  5.161299e+09  4.979472e+09
Tanzania                2.150174e+10  2.736839e+10  2.857378e+10
Thailand                2.629427e+11  2.913831e+11  2.815748e+11
Timor-Leste             5.590000e+08  6.940000e+08  8.180000e+08
Togo                    2.523463e+09  3.163416e+09  3.163001e+09
Tonga                   2.996579e+08  3.400415e+08  3.213034e+08
Trinidad and Tobago     2.164230e+10  2.787026e+10  1.917520e+10
Tunisia                 3.890807e+10  4.485659e+10  4.345494e+10
Turkey                  6.471551e+11  7.303375e+11  6.145539e+11
Turkmenistan            1.266417e+10  1.927152e+10  2.021439e+10
Tuvalu                  2.703037e+07  3.029022e+07  2.710108e+07
Uganda                  1.229281e+10  1.423903e+10  1.787818e+10
Ukraine                 1.427190e+11  1.799924e+11  1.172278e+11
United Arab Emirates    2.579161e+11  3.154746e+11  2.535474e+11
United Kingdom          2.969734e+12  2.793377e+12  2.314577e+12
United States           1.447764e+13  1.471858e+13  1.441874e+13
Upper middle income     1.073130e+13  1.312644e+13  1.263584e+13
Uruguay                 2.341057e+10  3.036621e+10  3.166091e+10
Uzbekistan              2.231139e+10  2.793403e+10  3.281683e+10

##### The level parameter pivots the the columns/rows

In [51]:
w_stack.unstack(level=['year']).head(5)

year                            2015          2014          2013  \
country
Afghanistan Population  3.252656e+07  3.162751e+07  3.068250e+07
            GDP         1.919944e+10  2.005019e+10  2.004633e+10
Albania     Population  2.889167e+06  2.893654e+06  2.896652e+06
            GDP         1.145560e+10  1.327796e+10  1.278103e+10
Algeria     Population  3.966652e+07  3.893433e+07  3.818614e+07

year                            2012          2011          2010  \
country
Afghanistan Population  2.972680e+07  2.880917e+07  2.796221e+07
            GDP         2.053654e+10  1.793024e+10  1.593680e+10
Albania     Population  2.900247e+06  2.904780e+06  2.913021e+06
            GDP         1.231978e+10  1.289087e+10  1.192695e+10
Algeria     Population  3.743943e+07  3.671713e+07  3.603616e+07

year                            2009          2008          2007  \
country
Afghanistan Population  2.720729e+07  2.652874e+07  2.587754e+07
            GDP         1.248694e+10  1.019053e+10  9.843842e+09
Albania     Population  2.927519e+06  2.947314e+06  2.970017e+06
            GDP         1.204421e+10  1.288135e+10  1.070101e+10
Algeria     Population  3.540179e+07  3.481106e+07  3.426197e+07

year                            2006      ...               1969  \
country                                   ...
Afghanistan Population  2.518362e+07      ...       1.084951e+07
            GDP         7.057598e+09      ...       1.408889e+09
Albania     Population  2.992547e+06      ...                NaN
            GDP         8.992642e+09      ...                NaN
Algeria     Population  3.374933e+07      ...       1.414444e+07

year                            1968          1967          1966  \
country
Afghanistan Population  1.059979e+07  1.036860e+07  1.014884e+07
            GDP         1.373333e+09  1.673333e+09  1.400000e+09
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.374438e+07  1.335420e+07  1.298027e+07

year                            1965          1964          1963  \
country
Afghanistan Population  9.935358e+06  9.728645e+06  9.531555e+06
            GDP         1.006667e+09  8.000000e+08  7.511112e+08
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.262695e+07  1.229597e+07  1.198513e+07

year                            1962          1961          1960
country
Afghanistan Population  9.343772e+06  9.164945e+06  8.994793e+06
            GDP         5.466667e+08  5.488889e+08  5.377778e+08
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.169015e+07  1.140486e+07  1.112489e+07

[5 rows x 56 columns]

##### Pivot

In [61]:
sales = pd.read_csv("salesmen.csv", parse_dates=['Date'])
sales['Salesman'] = sales['Salesman'].astype('category')
sales.head()

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982
3 2016-01-04      Bob     7917
4 2016-01-05      Bob     7837

In [56]:
len(sales)

1830

In [60]:
sales['Salesman'].value_counts()

Dave      366
Ronald    366
Oscar     366
Jeb       366
Bob       366
Name: Salesman, dtype: int64

In [62]:
sales.pivot(index='Date', columns = 'Salesman', values='Revenue')

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

##### Pivot Table method

In [64]:
f = pd.read_csv('foods.csv')
f.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [65]:
f.pivot_table(values="Spend", index='Gender', aggfunc='mean')

Gender
Female    50.709629
Male      49.397623
Name: Spend, dtype: float64

In [66]:
f.pivot_table(values="Spend", index='Gender', aggfunc='sum')

Gender
Female    25963.33
Male      24106.04
Name: Spend, dtype: float64

In [67]:
f.pivot_table(values="Spend", index='Gender', aggfunc='std')

Gender
Female    27.665336
Male      27.807075
Name: Spend, dtype: float64

In [68]:
f.pivot_table(values="Spend", index='Gender', aggfunc='min')

Gender
Female    1.02
Male      1.26
Name: Spend, dtype: float64

In [71]:
f.pivot_table(values="Spend", index=['Gender', 'Item'],columns='City' ,aggfunc='sum')

City              New York  Philadelphia  Stamford
Gender Item
Female Burger      1239.04       1639.24   1216.02
       Burrito      978.95       1458.76   1820.11
       Chalupa      876.58       1673.33   1602.35
       Donut       1446.78       1639.26   1656.96
       Ice Cream   1521.62       1479.22   1032.03
       Sushi       1480.29       1742.88   1459.91
Male   Burger      1294.09        938.18   1439.16
       Burrito     1399.40       1312.93   1300.29
       Chalupa     1227.77       1114.23   1150.26
       Donut       1345.27       1249.36   1421.13
       Ice Cream   1603.63       2191.27   1059.22
       Sushi       1396.15       1395.88   1267.82

In [72]:
f.pivot_table(values="Spend", index=['Gender', 'Item'],columns='City' ,aggfunc='count')

City              New York  Philadelphia  Stamford
Gender Item
Female Burger           24            31        27
       Burrito          23            28        34
       Chalupa          19            32        25
       Donut            31            30        34
       Ice Cream        27            32        22
       Sushi            31            30        32
Male   Burger           22            21        31
       Burrito          25            30        28
       Chalupa          25            23        23
       Donut            30            33        29
       Ice Cream        29            41        25
       Sushi            27            28        18

##### Groupby

In [5]:
fort = pd.read_csv('fortune1000.csv', index_col='Rank')
fort.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [6]:
sectors = fort.groupby('Sector')

##### len on a groupby object returns the number of groupings

In [8]:
len(sectors)

21

### The size method on a groupby object

In [9]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

# first method
- the first element of each grouping

In [7]:
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

### Groups method
- returns the index position from the original DataFRame

In [8]:
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [13]:
fort.loc[24]

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

##### get_group method
- can pull each group

In [14]:
sectors.get_group('Energy')

,Company,Employees,Industry,Location,Profits,Revenue
Rank,,,,,,
2,Exxon Mobil,75600,Petroleum Refining,"Irving, TX",16150,246204
14,Chevron,61500,Petroleum Refining,"San Ramon, CA",4587,131118
30,Phillips 66,14000,Petroleum Refining,"Houston, TX",4227,87169
32,Valero Energy,10103,Petroleum Refining,"San Antonio, TX",3990,81824
42,Marathon Petroleum,45440,Petroleum Refining,"Findlay, OH",2852,64566
65,Energy Transfer Equity,30078,Pipelines,"Dallas, TX",1189,42126
90,ConocoPhillips,15900,"Mining, Crude-Oil Production","Houston, TX",-4428,30935
95,Exelon,29762,Utilities: Gas and Electric,"Chicago, IL",2269,29447
98,Tesoro,6016,Petroleum Refining,"San Antonio, TX",1540,28150
104,Enterprise Products Partners,6800,Pipelines,"Houston, TX",2521,27028
115,Duke Energy,29188,Utilities: Gas and Electric,"Charlotte, NC",2816,24002
117,Halliburton,65000,"Oil and Gas Equipment, Services","Houston, TX",-671,23633
121,Plains GP Holdings,5400,Pipelines,"Houston, TX",118,23152
162,Southern,26703,Utilities: Gas and Electric,"Atlanta, GA",2367,17489
163,NextEra Energy,14300,Utilities: Gas and Electric,"Juno Beach, FL",2752,17486
165,American Electric Power,17405,Utilities: Gas and Electric,"Columbus, OH",2047,16900
166,PG&E Corp.,23323,Utilities: Gas and Electric,"San Francisco, CA",874,16833
175,Freeport-McMoRan,34500,"Mining, Crude-Oil Production","Phoenix, AZ",-12236,15877
178,Baker Hughes,43000,"Oil and Gas Equipment, Services","Houston, TX",-1967,15742
188,FirstEnergy,15781,Utilities: Gas and Electric,"Akron, OH",578,15026
190,AES,21000,Utilities: Gas and Electric,"Arlington, VA",306,14963
192,National Oilwell Varco,47262,"Oil and Gas Equipment, Services","Houston, TX",-769,14757
193,NRG Energy,10468,Energy,"Princeton, NJ",-6382,14674
198,Kinder Morgan,11290,Pipelines,"Houston, TX",253,14403
214,HollyFrontier,2704,Petroleum Refining,"Dallas, TX",740,13238
216,Devon Energy,5167,"Mining, Crude-Oil Production","Oklahoma City, OK",-14454,13145
217,PBF Energy,2270,Petroleum Refining,"Parsippany, NJ",146,13124
223,Chesapeake Energy,4400,"Mining, Crude-Oil Production","Oklahoma City, OK",-14685,12764
225,Occidental Petroleum,11100,"Mining, Crude-Oil Production","Houston, TX",-7829,12699
229,Consolidated Edison,14806,Utilities: Gas and Electric,"New York, NY",1193,12554
...,...,...,...,...,...,...
784,New Jersey Resources,991,Energy,"Wall, NJ",181,2734
798,Continental Resources,1143,"Mining, Crude-Oil Production","Oklahoma City, OK",-354,2680
802,WGL Holdings,1529,Energy,"Washington, DC",131,2660
810,Crestwood Equity Partners,1300,Energy,"Houston, TX",-1667,2633
817,Hawaiian Electric Industries,3918,Utilities: Gas and Electric,"Honolulu, HI",160,2603
826,Arch Coal,4655,"Mining, Crude-Oil Production","St. Louis, MO",-2913,2573
843,Great Plains Energy,2899,Utilities: Gas and Electric,"Kansas City, MO",213,2502
850,United Refining,2997,Petroleum Refining,"Warren, PA",82,2470
851,Southwest Gas,5876,Utilities: Gas and Electric,"Las Vegas, NV",138,2464
853,Westar Energy,2330,Utilities: Gas and Electric,"Topeka, KS",292,2459
855,Vectren,5600,Utilities: Gas and Electric,"Evansville, IN",197,2435
859,Enable Midstream Partners,1640,Pipelines,"Oklahoma City, OK",-752,2418
860,Cliffs Natural Resources,2638,"Mining, Crude-Oil Production","Cleveland, OH",-749,2418
862,California Resources,1700,"Mining, Crude-Oil Production","Los Angeles, CA",-3554,2403
879,EQT,1914,Energy,"Pittsburgh, PA",85,2340
901,Alliance Holdings,4243,"Mining, Crude-Oil Production","Tulsa, OK",211,2273
908,Genesis Energy,1400,Pipelines,"Houston, TX",423,2247
921,OGE Energy,2586,Utilities: Gas and Electric,"Oklahoma City, OK",271,2197
924,Magellan Midstream Partners,1640,Pipelines,"Tulsa, OK",819,2189
948,NuStar Energy,1644,Pipelines,"San Antonio, TX",307,2084
953,Par Pacific Holdings,744,Petroleum Refining,"Houston, TX",-40,2066
955,Whiting Petroleum,1200,"Mining, Crude-Oil Production","Denver, CO",-2219,2051
962,Ferrellgas Partners,4028,Energy,"Overland Park, KS",30,2024
966,QEP Resources,693,"Mining, Crude-Oil Production","Denver, CO",-149,2019
980,Spire,3078,Utilities: Gas and Electric,"St. Louis, MO",137,1976
981,WPX Energy,1040,"Mining, Crude-Oil Production","Tulsa, OK",-1727,1958
983,Adams Resources & Energy,809,Petroleum Refining,"Houston, TX",-1,1944
995,EP Energy,665,"Mining, Crude-Oil Production","Houston, TX",-3748,1908
997,Portland General Electric,2646,Utilities: Gas and Electric,"Portland, OR",172,1898
997,Portland General Electric,2646,Utilities: Gas and Electric,"Portland, OR",172,1898

### max returns the last element in each group

In [16]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

### sum

In [17]:
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [18]:
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [20]:
groupby2 = pd.read_csv('fortune1000.csv', index_col='Rank')
groupby2.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

##### Multi_groupby

In [21]:
sec_ind = groupby2.groupby(['Sector', 'Industry'])

In [22]:
sec_ind

In [23]:
sec_ind.size()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                             20
Apparel                     Apparel                                           15
Business Services           Advertising, marketing                             2
                            Diversified Outsourcing Services                  14
                            Education                                          3
                            Financial Data Services                           19
                            Miscellaneous                                      3
                            Temporary Help                                     5
                            Waste Management                                   5
Chemicals                   Chemicals                                         30
Energy                      Energy                                            14
                            Mining, Crude-Oil Production                      28
                            Miscellaneous                                      1
                            Oil and Gas Equipment, Services                    9
                            Petroleum Refining                                17
                            Pipelines                                         12
                            Utilities: Gas and Electric                       41
Engineering & Construction  Engineering, Construction                         14
                            Homebuilders                                      12
Financials                  Commercial Banks                                  28
                            Diversified Financials                            15
                            Insurance: Life, Health (Mutual)                  10
                            Insurance: Life, Health (stock)                   18
                            Insurance: Property and Casualty (Mutual)          7
                            Insurance: Property and Casualty (Stock)          28
                            Real estate                                       15
                            Securities                                        18
Food and Drug Stores        Food and Drug Stores                              15
Food, Beverages & Tobacco   Beverages                                          9
                            Food Consumer Products                            20
                                                                              ..
Materials                   Metals                                            14
                            Miscellaneous                                      1
                            Packaging, Containers                             16
Media                       Entertainment                                     18
                            Publishing, Printing                               7
Motor Vehicles & Parts      Motor Vehicles and Parts                          24
Retailing                   Automotive Retailing, Services                    10
                            General Merchandisers                             10
                            Specialty Retailers: Apparel                      18
                            Specialty Retailers: Other                        42
Technology                  Computer Peripherals                               4
                            Computer Software                                 14
                            Computers, Office Equipment                        7
                            Information Technology Services                   13
                            Internet Services and Retailing                   15
                            Network and Other Communications Equipment        14
                            Scientific,Photographic and Control Equipment     12
                            Semiconductors and Other Electronic Components    23
Telecommunications          Telecommunications                                15
Transportation              Airlines                                           9
                            Mail, Package, and Freight Delivery                2
                            Miscellaneous                                      1
                            Railroads                                          5
                            Transportation Equipment                           5
                            Transportation and Logistics                       5
                            Trucking, Truck Leasing                            9
Wholesalers                 Miscellaneous                                      1
                            Wholesalers: Diversified                          25
                            Wholesalers: Electronics and Office Equipment      8
                            Wholesalers: Food and Grocery                      6
dtype: int64

In [24]:
sec_ind.sum()

                                                                           Revenue  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                            357940
Apparel                    Apparel                                           95968
Business Services          Advertising, marketing                            22748
                           Diversified Outsourcing Services                  64829
                           Education                                          7485
                           Financial Data Services                          100778
                           Miscellaneous                                     11185
                           Temporary Help                                    34716
                           Waste Management                                  30454
Chemicals                  Chemicals                                        243897
Energy                     Energy                                            67749
                           Mining, Crude-Oil Production                     176435
                           Miscellaneous                                      3159
                           Oil and Gas Equipment, Services                   82827
                           Petroleum Refining                               705472
                           Pipelines                                        138756
                           Utilities: Gas and Electric                      343411
Engineering & Construction Engineering, Construction                         99774
                           Homebuilders                                      54209
Financials                 Commercial Banks                                 623669
                           Diversified Financials                           327075
                           Insurance: Life, Health (Mutual)                 181336
                           Insurance: Life, Health (stock)                  245551
                           Insurance: Property and Casualty (Mutual)        143682
                           Insurance: Property and Casualty (Stock)         548027
                           Real estate                                       62748
                           Securities                                        85071
Food and Drug Stores       Food and Drug Stores                             483769
Food, Beverages & Tobacco  Beverages                                         79396
                           Food Consumer Products                           238954
...                                                                            ...
Materials                  Metals                                            99925
                           Miscellaneous                                      6070
                           Packaging, Containers                            105965
Media                      Entertainment                                    186276
                           Publishing, Printing                              34488
Motor Vehicles & Parts     Motor Vehicles and Parts                         482540
Retailing                  Automotive Retailing, Services                   113823
                           General Merchandisers                            684320
                           Specialty Retailers: Apparel                     122975
                           Specialty Retailers: Other                       543958
Technology                 Computer Peripherals                              48950
                           Computer Software                                179112
                           Computers, Office Equipment                      353781
                           Information Technology Services                  166067
                           Internet Services and Retailing                  259136
                           Network and Other Communications Equipment       125697
                           Scientific,Photographic and Control Equipment     65832
                           Semiconductors and Other Electronic Components   179025
Telecommunications         Telecommunications                               461834
Transportation             Airlines                                         158948
                           Mail, Package, and Freight Delivery              105816
                           Miscellaneous                                      2148
                           Railroads                                         48554
                           Transportation Equipment                          23855
                           Transportation and Logistics                      33237
                           Trucking, Truck Leasing                           35950
Wholesalers                Miscellaneous                                      8982
                           Wholesalers: Diversified                         176138
                           Wholesalers: Electronics and Office Equipment    147906
                           Wholesalers: Food and Grocery                    111774

                                                                           Profits  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                             28742
Apparel                    Apparel                                            8236
Business Services          Advertising, marketing                             1549
                           Diversified Outsourcing Services                   4305
                           Education                                            69
                           Financial Data Services                           17456
                           Miscellaneous                                      2130
                           Temporary Help                                     1000
                           Waste Management                                   1718
Chemicals                  Chemicals                                         22628
Energy                     Energy                                           -13038
                           Mining, Crude-Oil Production                    -124555
                           Miscellaneous                                       476
                           Oil and Gas Equipment, Services                   -4047
                           Petroleum Refining                                31888
                           Pipelines                                          5814
                           Utilities: Gas and Electric                       30015
Engineering & Construction Engineering, Construction                          1765
                           Homebuilders                                       3539
Financials                 Commercial Banks                                 129760
                           Diversified Financials                            28548
                           Insurance: Life, Health (Mutual)                   5601
                           Insurance: Life, Health (stock)                   19731
                           Insurance: Property and Casualty (Mutual)          8031
                           Insurance: Property and Casualty (Stock)          44803
                           Real estate                                        9480
                           Securities                                        14255
Food and Drug Stores       Food and Drug Stores                              16759
Food, Beverages & Tobacco  Beverages                                         11698
                           Food Consumer Products                            19263
...                                                                            ...
Materials                  Metals                                            -2241
                           Miscellaneous                                         7
                           Packaging, Containers                              4445
Media                      Entertainment                                     25686
                           Publishing, Printing                              -1339
Motor Vehicles & Parts     Motor Vehicles and Parts                          25898
Retailing                  Automotive Retailing, Services                     2550
                           General Merchandisers                             20137
                           Specialty Retailers: Apparel                       4583
                           Specialty Retailers: Other                        20560
Technology                 Computer Peripherals                               3975
                           Computer Software                                 26457
                           Computers, Office Equipment                       58433
                           Information Technology Services                   16402
                           Internet Services and Retailing                   22232
                           Network and Other Communications Equipment        18907
                           Scientific,Photographic and Control Equipment      9346
                           Semiconductors and Other Electronic Components    24721
Telecommunications         Telecommunications                                48637
Transportation             Airlines                                          23800
                           Mail, Package, and Freight Delivery                5894
                           Miscellaneous                                       227
                           Railroads                                          9005
                           Transportation Equipment                           2438
                           Transportation and Logistics                        895
                           Trucking, Truck Leasing                            1910
Wholesalers                Miscellaneous                                        17
                           Wholesalers: Diversified                           5193
                           Wholesalers: Electronics and Office Equipment      1857
                           Wholesalers: Food and Grocery                      1166

                                                                           Employees
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                              968057
Apparel                    Apparel                                            346397
Business Services          Advertising, marketing                             124100
                           Diversified Outsourcing Services                   708330
                           Education                                           46755
                           Financial Data Services                            264926
                           Miscellaneous                                       37720
                           Temporary Help                                      60020
                           Waste Management                                   119199
Chemicals                  Chemicals                                          463651
Energy                     Energy                                              70072
                           Mining, Crude-Oil Production                       149110
                           Miscellaneous                                        6700
                           Oil and Gas Equipment, Services                    225795
                           Petroleum Refining                                 244880
                           Pipelines                                           72141
                           Utilities: Gas and Electric                        420229
Engineering & Construction Engineering, Construction                          368104
                           Homebuilders                                        38604
Financials                 Commercial Banks                                  1539024
                           Diversified Financials                             329114
                           Insurance: Life, Health (Mutual)                    58801
                           Insurance: Life, Health (stock)                    202233
                           Insurance: Property and Casualty (Mutual)          133148
                           Insurance: Property and Casualty (Stock)           794123
                           Real estate                                        160579
                           Securities                                         142926
Food and Drug Stores       Food and Drug Stores                              1395398
Food, Beverages & Tobacco  Beverages                                          199107
                           Food Consumer Products                             665439
...                                                                              ...
Materials                  Metals                                             193559
                           Miscellaneous                                          52
                           Packaging, Containers                              333446
Media                      Entertainment                                      383564
                           Publishing, Printing                               166750
Motor Vehicles & Parts     Motor Vehicles and Parts                          1082560
Retailing                  Automotive Retailing, Services                     174974
                           General Merchandisers                             3408100
                           Specialty Retailers: Apparel                       770543
                           Specialty Retailers: Other                        1874012
Technology                 Computer Peripherals                               175259
                           Computer Software                                  388796
                           Computers, Office Equipment                        468085
                           Information Technology Services                    985639
                           Internet Services and Retailing                    430855
                           Network and Other Communications Equipment         299310
                           Scientific,Photographic and Control Equipment      231501
                           Semiconductors and Other Electronic Components     599504
Telecommunications         Telecommunications                                 832468
Transportation             Airlines                                           391601
                           Mail, Package, and Freight Delivery                664275
                           Miscellaneous                                        4200
                           Railroads                                          121844
                           Transportation Equipment                            59726
                           Transportation and Logistics                       124691
                           Trucking, Truck Leasing                            170456
Wholesalers                Miscellaneous                                        9200
                           Wholesalers: Diversified                           233831
                           Wholesalers: Electronics and Office Equipment      166661
                           Wholesalers: Food and Grocery                      115905

[79 rows x 3 columns]

##### Agg method

In [29]:
sectors.agg(['size', 'mean', 'sum'])

                             Revenue                        Profits  \
                                size          mean      sum    size
Sector
Aerospace & Defense               20  17897.000000   357940      20
Apparel                           15   6397.866667    95968      15
Business Services                 51   5337.156863   272195      51
Chemicals                         30   8129.900000   243897      30
Energy                           122  12441.057377  1517809     122
Engineering & Construction        26   5922.423077   153983      26
Financials                       139  15950.784173  2217159     139
Food and Drug Stores              15  32251.266667   483769      15
Food, Beverages & Tobacco         43  12929.465116   555967      43
Health Care                       75  21529.426667  1614707      75
Hotels, Resturants & Leisure      25   6781.840000   169546      25
Household Products                28   8383.464286   234737      28
Industrials                       46  10816.978261   497581      46
Materials                         43   6026.627907   259145      43
Media                             25   8830.560000   220764      25
Motor Vehicles & Parts            24  20105.833333   482540      24
Retailing                         80  18313.450000  1465076      80
Technology                       102  13505.882353  1377600     102
Telecommunications                15  30788.933333   461834      15
Transportation                    36  11347.444444   408508      36
Wholesalers                       40  11120.000000   444800      40

                                                  Employees                \
                                     mean     sum      size          mean
Sector
Aerospace & Defense           1437.100000   28742        20  48402.850000
Apparel                        549.066667    8236        15  23093.133333
Business Services              553.470588   28227        51  26687.254902
Chemicals                      754.266667   22628        30  15455.033333
Energy                        -602.024590  -73447       122   9745.303279
Engineering & Construction     204.000000    5304        26  15642.615385
Financials                    1872.007194  260209       139  24172.287770
Food and Drug Stores          1117.266667   16759        15  93026.533333
Food, Beverages & Tobacco     1195.744186   51417        43  28177.488372
Health Care                   1414.853333  106114        75  35710.520000
Hotels, Resturants & Leisure   827.880000   20697        25  99369.800000
Household Products             515.285714   14428        28  23072.785714
Industrials                    451.391304   20764        46  33591.934783
Materials                      102.976744    4428        43  14840.069767
Media                          973.880000   24347        25  22012.560000
Motor Vehicles & Parts        1079.083333   25898        24  45106.666667
Retailing                      597.875000   47830        80  77845.362500
Technology                    1769.343137  180473       102  35087.735294
Telecommunications            3242.466667   48637        15  55497.866667
Transportation                1226.916667   44169        36  42688.694444
Wholesalers                    205.825000    8233        40  13139.925000


                                  sum
Sector
Aerospace & Defense            968057
Apparel                        346397
Business Services             1361050
Chemicals                      463651
Energy                        1188927
Engineering & Construction     406708
Financials                    3359948
Food and Drug Stores          1395398
Food, Beverages & Tobacco     1211632
Health Care                   2678289
Hotels, Resturants & Leisure  2484245
Household Products             646038
Industrials                   1545229
Materials                      638123
Media                          550314
Motor Vehicles & Parts        1082560
Retailing                     6227629
Technology                    3578949
Telecommunications             832468
Transportation                1536793
Wholesalers                    525597

##### Agg customized

In [31]:
sectors.agg({'Revenue':['sum', 'mean'], 'Profits':'sum', 'Employees': ['sum', 'mean']})

                              Revenue               Profits Employees  \
                                  sum          mean     sum       sum
Sector
Aerospace & Defense            357940  17897.000000   28742    968057
Apparel                         95968   6397.866667    8236    346397
Business Services              272195   5337.156863   28227   1361050
Chemicals                      243897   8129.900000   22628    463651
Energy                        1517809  12441.057377  -73447   1188927
Engineering & Construction     153983   5922.423077    5304    406708
Financials                    2217159  15950.784173  260209   3359948
Food and Drug Stores           483769  32251.266667   16759   1395398
Food, Beverages & Tobacco      555967  12929.465116   51417   1211632
Health Care                   1614707  21529.426667  106114   2678289
Hotels, Resturants & Leisure   169546   6781.840000   20697   2484245
Household Products             234737   8383.464286   14428    646038
Industrials                    497581  10816.978261   20764   1545229
Materials                      259145   6026.627907    4428    638123
Media                          220764   8830.560000   24347    550314
Motor Vehicles & Parts         482540  20105.833333   25898   1082560
Retailing                     1465076  18313.450000   47830   6227629
Technology                    1377600  13505.882353  180473   3578949
Telecommunications             461834  30788.933333   48637    832468
Transportation                 408508  11347.444444   44169   1536793
Wholesalers                    444800  11120.000000    8233    525597


                                      mean
Sector
Aerospace & Defense           48402.850000
Apparel                       23093.133333
Business Services             26687.254902
Chemicals                     15455.033333
Energy                         9745.303279
Engineering & Construction    15642.615385
Financials                    24172.287770
Food and Drug Stores          93026.533333
Food, Beverages & Tobacco     28177.488372
Health Care                   35710.520000
Hotels, Resturants & Leisure  99369.800000
Household Products            23072.785714
Industrials                   33591.934783
Materials                     14840.069767
Media                         22012.560000
Motor Vehicles & Parts        45106.666667
Retailing                     77845.362500
Technology                    35087.735294
Telecommunications            55497.866667
Transportation                42688.694444
Wholesalers                   13139.925000

##### Iterating thru Groups

In [14]:
fort = pd.read_csv('fortune1000.csv', index_col='Rank')
sector = fort.groupby('Sector')
fort.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

##### Create a dataframe to store the extracted data

In [15]:
df = pd.DataFrame(columns= fort.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

##### step 2: loop thru groupby to extract data and append it to the df we created
- whenever you iterating over a groupby object, must provide 2 temporary variable names.
- 1st variable = must represent the group
- 2nd variable = must represent the actual dataframe
    - the dataframe for each sector will be stored in the temporary variable called data

In [16]:
for sector, data in sectors:
    print(sector, data)
    highest_rev_inGroup = data.nlargest(1, "Revenue")
    df = df.append(highest_rev_inGroup) #must reassign df because there is no inplace method

Aerospace & Defense                             Company               Sector  \
Rank
24                           Boeing  Aerospace & Defense
45              United Technologies  Aerospace & Defense
60                  Lockheed Martin  Aerospace & Defense
88                 General Dynamics  Aerospace & Defense
118                Northrop Grumman  Aerospace & Defense
120                        Raytheon  Aerospace & Defense
209                         Textron  Aerospace & Defense
245              L-3 Communications  Aerospace & Defense
282             Precision Castparts  Aerospace & Defense
378   Huntington Ingalls Industries  Aerospace & Defense
389     Spirit AeroSystems Holdings  Aerospace & Defense
490                Rockwell Collins  Aerospace & Defense
560                     Orbital ATK  Aerospace & Defense
605                   Triumph Group  Aerospace & Defense
785                   B/E Aerospace  Aerospace & Defense
788                 TransDigm Group  Aerospace & Defense
836                            Moog  Aerospace & Defense
903                  Curtiss-Wright  Aerospace & Defense
958                        Woodward  Aerospace & Defense
987           Delta Tucker Holdings  Aerospace & Defense

                   Industry          Location  Revenue  Profits  Employees
Rank
24    Aerospace and Defense       Chicago, IL    96114     5176     161400
45    Aerospace and Defense    Farmington, CT    61047     7608     197200
60    Aerospace and Defense      Bethesda, MD    46132     3605     126000
88    Aerospace and Defense  Falls Church, VA    31469     2965      99900
118   Aerospace and Defense  Falls Church, VA    23526     1990      65000
120   Aerospace and Defense       Waltham, MA    23247     2074      61000
209   Aerospace and Defense    Providence, RI    13423      697      35000
245   Aerospace and Defense      New York, NY    11554     -240      38000
282   Aerospace and Defense      Portland, OR    10056     1530      30106
378   Aerospace and Defense  Newport News, VA     7020      404      35995
389   Aerospace and Defense       Wichita, KS     6644      789      15200
490   Aerospace and Defense  Cedar Rapids, IA     5262      686      19500
560   Aerospace and Defense        Dulles, VA     4369      159      12300
605   Aerospace and Defense        Berwyn, PA     3889      239      15153
785   Aerospace and Defense    Wellington, FL     2730      286      10057
788   Aerospace and Defense     Cleveland, OH     2707      447       8200
836   Aerospace and Defense          Elma, NY     2526      132      10691
903   Aerospace and Defense     Charlotte, NC     2264      146       8400
958   Aerospace and Defense  Fort Collins, CO     2038      182       6955
987   Aerospace and Defense        McLean, VA     1923     -133      12000
Apparel                    Company   Sector Industry             Location  Revenue  \
Rank
91                    Nike  Apparel  Apparel        Beaverton, OR    30601
231                     VF  Apparel  Apparel       Greensboro, NC    12377
340                    PVH  Apparel  Apparel         New York, NY     8020
354           Ralph Lauren  Apparel  Apparel         New York, NY     7620
448            Hanesbrands  Apparel  Apparel    Winston-Salem, NC     5732
547           Levi Strauss  Apparel  Apparel    San Francisco, CA     4495
575                  Coach  Apparel  Apparel         New York, NY     4192
597           Under Armour  Apparel  Apparel        Baltimore, MD     3963
683           Fossil Group  Apparel  Apparel       Richardson, TX     3229
695        Skechers U.S.A.  Apparel  Apparel  Manhattan Beach, CA     3159
726               Carter’s  Apparel  Apparel          Atlanta, GA     3014
794   Wolverine World Wide  Apparel  Apparel         Rockford, MI     2692
877    G-III Apparel Group  Apparel  Apparel         New York, NY     2344
882    Columbia Sportswear  Apparel  Apparel         Portland, OR     2326
917                  Guess  Apparel  Apparel      Los Angeles, CA     2204

      Profits  Employees
Rank
91       3273      62600
231      1232      64000
340       572      26200
354       702      20000
448       429      65300
547       209      12500
575       402      12950
597       233       9600
683       221      15100
695       232       6400
726       238      16800
794       123       6550
877       114       8919
882       174       5978
917        82      13500
Business Services                                      Company             Sector  \
Rank
144                            ManpowerGroup  Business Services
186                            Omnicom Group  Business Services
199                                  Aramark  Business Services
204                                     Visa  Business Services
221                         Waste Management  Business Services
248                                      ADP  Business Services
249                               First Data  Business Services
294                               MasterCard  Business Services
307                          PayPal Holdings  Business Services
312                        Republic Services  Business Services
355                        Interpublic Group  Business Services
392   Fidelity National Information Services  Business Services
404                    Alliance Data Systems  Business Services
440                           United Rentals  Business Services
467                           Kelly Services  Business Services
468                            Western Union  Business Services
481                               S&P Global  Business Services
485                           ABM Industries  Business Services
492                                   Fiserv  Business Services
503                Robert Half International  Business Services
545                                   Cintas  Business Services
626                            Towers Watson  Business Services
635                                      ADT  Business Services
652                                  Moody’s  Business Services
677                            Clean Harbors  Business Services
694                                   Vantiv  Business Services
714                                  Brink’s  Business Services
729                            Iron Mountain  Business Services
734              Service Corp. International  Business Services
735                               Stericycle  Business Services
737                          Graham Holdings  Business Services
744                                Convergys  Business Services
767                              DST Systems  Business Services
776                    Total System Services  Business Services
777                          Global Payments  Business Services
783                                  Paychex  Business Services
791                                 TrueBlue  Business Services
792           Broadridge Financial Solutions  Business Services
796                Heartland Payment Systems  Business Services
801                                  Equifax  Business Services
803                             TriNet Group  Business Services
816                                Insperity  Business Services
819            ServiceMaster Global Holdings  Business Services
820                   Apollo Education Group  Business Services
869                                     West  Business Services
870                           Public Storage  Business Services
886                               IHS Markit  Business Services
939                        Waste Connections  Business Services
951                            On Assignment  Business Services
952                         Verisk Analytics  Business Services
993                    DeVry Education Group  Business Services

                              Industry             Location  Revenue  Profits  \
Rank
144                     Temporary Help        Milwaukee, WI    19330      419
186             Advertising, marketing         New York, NY    15134     1094
199   Diversified Outsourcing Services     Philadelphia, PA    14329      236
204            Financial Data Services      Foster City, CA    13880     6328
221                   Waste Management          Houston, TX    12961      753
248   Diversified Outsourcing Services         Roseland, NJ    11477     1453
249            Financial Data Services          Atlanta, GA    11451    -1481
294            Financial Data Services         Purchase, NY     9667     3808
307            Financial Data Services         San Jose, CA     9248     1228
312                   Waste Management          Phoenix, AZ     9115      750
355             Advertising, marketing         New York, NY     7614      455
392            Financial Data Services     Jacksonville, FL     6595      632
404            Financial Data Services            Plano, TX     6440      597
440                      Miscellaneous         Stamford, CT     5817      585
467                     Temporary Help             Troy, MI     5518       54
468            Financial Data Services        Englewood, CO     5484      838
481            Financial Data Services         New York, NY     5313     1156
485   Diversified Outsourcing Services         New York, NY     5291       76
492            Financial Data Services       Brookfield, WI     5254      712
503                     Temporary Help       Menlo Park, CA     5095      358
545   Diversified Outsourcing Services       Cincinnati, OH     4508      431
626   Diversified Outsourcing Services        Arlington, VA     3645      385
635   Diversified Outsourcing Services       Boca Raton, FL     3574      296
652            Financial Data Services         New York, NY     3485      941
677                   Waste Management          Norwell, MA     3275       44
694            Financial Data Services  Symmes Township, OH     3160      148
714   Diversified Outsourcing Services         Richmond, VA     3066      -12
729   Diversified Outsourcing Services           Boston, MA     3008      123
734                      Miscellaneous          Houston, TX     2986      234
735                   Waste Management      Lake Forest, IL     2986      267
737                          Education        Arlington, VA     2984     -101
744   Diversified Outsourcing Services       Cincinnati, OH     2951      169
767            Financial Data Services      Kansas City, MO     2825      358
776            Financial Data Services         Columbus, GA     2780      364
777            Financial Data Services          Atlanta, GA     2774      278
783   Diversified Outsourcing Services        Rochester, NY     2740      675
791                     Temporary Help           Tacoma, WA     2696       71
792            Financial Data Services     Lake Success, NY     2694      287
796            Financial Data Services        Princeton, NJ     2682       85
801            Financial Data Services          Atlanta, GA     2664      429
803   Diversified Outsourcing Services      San Leandro, CA     2659       32
816   Diversified Outsourcing Services         Kingwood, TX     2604       39
819   Diversified Outsourcing Services          Memphis, TN     2594      160
820                          Education          Phoenix, AZ     2591       30
869   Diversified Outsourcing Services            Omaha, NE     2383      242
870                      Miscellaneous         Glendale, CA     2382     1311
886            Financial Data Services        Englewood, CO     2314      240
939                   Waste Management    The Woodlands, TX     2117      -96
951                     Temporary Help        Calabasas, CA     2077       98
952            Financial Data Services      Jersey City, NJ     2068      508
993                          Education    Downers Grove, IL     1910      140

      Employees
Rank
144       27000
186       74900
199      216500
204       11300
221       40600
248       55000
249       24000
294       11300
307       16800
312       33000
355       49200
392       55000
404       16000
440       12700
467        8100
468       10000
481       20400
485      120000
492       22000
503       16100
545       32000
626       16300
635       17100
652       10400
677       12900
694        3313
714       59900
729       20000
734       19720
735       25472
737       11585
744      130000
767       13420
776       10500
777        4438
783       13000
791        5500
792        7400
796        4272
801        8000
803        2500
816        2400
819       13000
820       23400
869       10630
870        5300
886        8600
939        7227
951        3320
952        7783
993       11770
Chemicals                                  Company     Sector   Industry  \
Rank
56                          Dow Chemical  Chemicals  Chemicals
101                               DuPont  Chemicals  Chemicals
182                       PPG Industries  Chemicals  Chemicals
189                             Monsanto  Chemicals  Chemicals
206                               Ecolab  Chemicals  Chemicals
253                     Sherwin-Williams  Chemicals  Chemicals
262                              Praxair  Chemicals  Chemicals
277                             Huntsman  Chemicals  Chemicals
288             Air Products & Chemicals  Chemicals  Chemicals
296                     Eastman Chemical  Chemicals  Chemicals
316                               Mosaic  Chemicals  Chemicals
538                    RPM International  Chemicals  Chemicals
549                    Westlake Chemical  Chemicals  Chemicals
555                              Valspar  Chemicals  Chemicals
566               CF Industries Holdings  Chemicals  Chemicals
580                               Hexion  Chemicals  Chemicals
613                               Axiall  Chemicals  Chemicals
624                            Albemarle  Chemicals  Chemicals
654                                  FMC  Chemicals  Chemicals
668                              PolyOne  Chemicals  Chemicals
717                           W.R. Grace  Chemicals  Chemicals
720   International Flavors & Fragrances  Chemicals  Chemicals
724                   Scotts Miracle-Gro  Chemicals  Chemicals
758                                Cabot  Chemicals  Chemicals
761                                 Olin  Chemicals  Chemicals
829          Platform Specialty Products  Chemicals  Chemicals
865                          A. Schulman  Chemicals  Chemicals
898                         MPM Holdings  Chemicals  Chemicals
934                            NewMarket  Chemicals  Chemicals
949                          H.B. Fuller  Chemicals  Chemicals

                 Location  Revenue  Profits  Employees
Rank
56            Midland, MI    48778     7685      49495
101        Wilmington, DE    27940     1953      52000
182        Pittsburgh, PA    15330     1406      46600
189         St. Louis, MO    15001     2314      24000
206          St. Paul, MN    13545     1002      47145
253         Cleveland, OH    11339     1054      40706
262           Danbury, CT    10776     1547      26657
277     The Woodlands, TX    10299       93      15000
288         Allentown, PA     9895     1278      19550
296         Kingsport, TN     9648      848      15000
316          Plymouth, MN     8895     1000       8900
538            Medina, OH     4595      240      12864
549           Houston, TX     4463      646       4225
555       Minneapolis, MN     4393      400      11130
566         Deerfield, IL     4308      700       2850
580          Columbus, OH     4140      -40       5100
613           Atlanta, GA     3787     -816       5830
624       Baton Rouge, LA     3651      335       6963
654      Philadelphia, PA     3471      489       6000
668         Avon Lake, OH     3378      145       6900
717          Columbia, MD     3052      144       6700
720          New York, NY     3023      419       6732
724        Marysville, OH     3017      160       7900
758            Boston, MA     2871     -334       4600
761           Clayton, MO     2854       -1       6200
829   West Palm Beach, FL     2542     -309       8200
865          Fairlawn, OH     2392       27       5000
898         Waterford, NY     2289      -83       5000
934          Richmond, VA     2141      239       1979
949          St. Paul, MN     2084       87       4425
Energy                            Company  Sector                         Industry  \
Rank
2                      Exxon Mobil  Energy               Petroleum Refining
14                         Chevron  Energy               Petroleum Refining
30                     Phillips 66  Energy               Petroleum Refining
32                   Valero Energy  Energy               Petroleum Refining
42              Marathon Petroleum  Energy               Petroleum Refining
65          Energy Transfer Equity  Energy                        Pipelines
90                  ConocoPhillips  Energy     Mining, Crude-Oil Production
95                          Exelon  Energy      Utilities: Gas and Electric
98                          Tesoro  Energy               Petroleum Refining
104   Enterprise Products Partners  Energy                        Pipelines
115                    Duke Energy  Energy      Utilities: Gas and Electric
117                    Halliburton  Energy  Oil and Gas Equipment, Services
121             Plains GP Holdings  Energy                        Pipelines
162                       Southern  Energy      Utilities: Gas and Electric
163                 NextEra Energy  Energy      Utilities: Gas and Electric
165        American Electric Power  Energy      Utilities: Gas and Electric
166                     PG&E Corp.  Energy      Utilities: Gas and Electric
175               Freeport-McMoRan  Energy     Mining, Crude-Oil Production
178                   Baker Hughes  Energy  Oil and Gas Equipment, Services
188                    FirstEnergy  Energy      Utilities: Gas and Electric
190                            AES  Energy      Utilities: Gas and Electric
192         National Oilwell Varco  Energy  Oil and Gas Equipment, Services
193                     NRG Energy  Energy                           Energy
198                  Kinder Morgan  Energy                        Pipelines
214                  HollyFrontier  Energy               Petroleum Refining
216                   Devon Energy  Energy     Mining, Crude-Oil Production
217                     PBF Energy  Energy               Petroleum Refining
223              Chesapeake Energy  Energy     Mining, Crude-Oil Production
225           Occidental Petroleum  Energy     Mining, Crude-Oil Production
229            Consolidated Edison  Energy      Utilities: Gas and Electric
...                            ...     ...                              ...
784           New Jersey Resources  Energy                           Energy
798          Continental Resources  Energy     Mining, Crude-Oil Production
802                   WGL Holdings  Energy                           Energy
810      Crestwood Equity Partners  Energy                           Energy
817   Hawaiian Electric Industries  Energy      Utilities: Gas and Electric
826                      Arch Coal  Energy     Mining, Crude-Oil Production
843            Great Plains Energy  Energy      Utilities: Gas and Electric
850                United Refining  Energy               Petroleum Refining
851                  Southwest Gas  Energy      Utilities: Gas and Electric
853                  Westar Energy  Energy      Utilities: Gas and Electric
855                        Vectren  Energy      Utilities: Gas and Electric
859      Enable Midstream Partners  Energy                        Pipelines
860       Cliffs Natural Resources  Energy     Mining, Crude-Oil Production
862           California Resources  Energy     Mining, Crude-Oil Production
879                            EQT  Energy                           Energy

In [7]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114.0,5176.0,161400.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330.0,419.0,27000.0
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778.0,7685.0,49495.0
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204.0,16150.0,75600.0
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114.0,413.0,38758.0
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821.0,24083.0,331000.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702.0,1849.0,32300.0
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241.0,1476.0,70400.0
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413.0,4529.0,420000.0
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756.0,7036.0,110000.0
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389.0,-6126.0,333000.0
126,Alcoa,Materials,Metals,"New York, NY",22534.0,-322.0,60000.0
53,Disney,Media,Entertainment,"Burbank, CA",52465.0,8382.0,185000.0
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356.0,9687.0,215000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715.0,53394.0,110000.0
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801.0,13345.0,281450.0
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363.0,4844.0,341240.0
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681.0,687.0,51700.0

##### 2nd Example

In [9]:
cities = fort.groupby("Location")
df = pd.DataFrame(columns = fort.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [10]:
for city, data in cities:
    highest_rev_inCity = data.nlargest(1, "Revenue")
    df = df.append(highest_rev_inCity)

In [11]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661.0,4423.0,74000.0
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443.0,307.0,66000.0
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895.0,1278.0,19550.0
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541.0,95.0,10500.0
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052.0,181.0,22408.0
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217.0,193.0,11900.0
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967.0,168.0,17087.0
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161.0,308.0,10000.0
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963.0,306.0,21000.0
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461.0,13190.0,411798.0
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519.0,7009.0,385000.0
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170.0,457.0,59350.0
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264.0,686.0,20700.0
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389.0,536.0,76300.0
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378.0,145.0,6900.0
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201.0,1223.0,5999.0
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149.0,956.0,17000.0
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651.0,335.0,6963.0
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525.0,614.0,33577.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115.0,1604.0,23000.0
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510.0,143.0,26200.0
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891.0,783.0,97000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974.0,591.0,15400.0
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132.0,3605.0,126000.0
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510.0,175.0,13549.0
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246.0,-33.0,12200.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247.0,2074.0,61000.0
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470.0,82.0,2997.0
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998.0,147.0,17500.0
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359.0,10954.0,7300.0
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520.0,498.0,6000.0
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289.0,-83.0,5000.0
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371.0,61.0,3200.0
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895.0,46.0,5480.0
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802.0,-130.0,62000.0
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730.0,286.0,10057.0
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693.0,-509.0,8500.0
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542.0,-309.0,8200.0
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902.0,-47.0,3448.0
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621.0,402.0,11500.0
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851.0,28.0,18450.0
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543.0,146.0,20400.0
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486.0,352.0,9700.0
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644.0,789.0,15200.0
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472.0,-62.0,14800.0
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308.0,399.0,13000.0
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940.0,1953.0,52000.0
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869.0,516.0,20746.0
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675.0,3253.0,5650.0
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258.0,798.0,6700.0
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244.0,186.0,8584.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034.0,332.0,4800.0
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838.0,1.0,18204.0
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790.0,-57.0,24100.0
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142.0,98.0,7510.0